.about-us {

  @include adaptiveValue("padding-top", 150, 30);
  @include adaptiveValue("padding-bottom", 80, 30);
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.1;
    background: url("@img/about/bg.png") 0 0 no-repeat;

  }

  // .about-us__container

  &__container {
    position: relative;
  }

  &__body {
    display: flex;
    @include adaptiveValue("gap", 134, 30);
    align-items: center;

    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 98, 20);
    }

    @media (max-width:$tablet) {
      display: flex;
      flex-direction: column-reverse;
    }
  }

  // .about-us__image

  &__image {
    flex: 0 0 51.25%;
    outline: 1px solid $goldColor;
    padding: 15px;

    img {
      width: 100%;
    }
  }

  // .about-us__content

  &__content {
    flex: 1 1 auto;
  }

  // .about-us__block-header

  &__block-header {}

  // .about-us__services

  &__services {}
}


.services-about-us {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: toRem(30);
  max-width: toRem(1024);
  margin: 0 auto;
  flex-wrap: wrap;
  text-align: center;

  @media(max-width: toEm(610)) {
    justify-content: center;
  }

  // .services-about-us__item

  &__item {
    display: grid;
    gap: toRem(29);
    justify-items: center;
  }

  // .services-about-us__icon

  &__icon {
    //background: url("@img/bg_button.jpg") center / cover no-repeat;
    border-radius: 50%;
    overflow: hidden;
    width: toRem(140);
    height: toRem(140);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: toRem(20);

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      transition: opacity .3s;
      opacity: .5;
      background: url('@img/bg_button.jpg') center no-repeat;
    }

    img {
      position: relative;
      max-width: 100%;
    }

    @media(max-width: toEm(610)) {}
  }

  // .services-about-us__label

  &__label {
    font-family: "Italiana";
    font-size: toRem(24);
    text-transform: capitalize;
  }
}