.contacts {
  position: relative;
  @include adaptiveValue("padding-top", 57, 30);
  @include adaptiveValue("padding-bottom", 70, 15);

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    height: toRem(140);
    background-color: $bgGold;
    @include adaptiveValue("height", 140, 50);
  }

  // .contacts__container

  &__container {
    position: relative;
    z-index: 2;
    display: flex;

    @media (max-width:$tablet) {
      flex-direction: column-reverse;
    }
  }

  // .contacts__media

  &__media {
    flex: 0 1 50%;
  }

  // .contacts__block-header

  &__block-header {
    flex: 0 1 50%;
    @include adaptiveValue("padding-top", 150, 50);
    @include adaptiveValue("padding-bottom", 150, 35);
    @include adaptiveValue("padding-left", 160, 60, 2, $containerWidth, 991.98);

    @media (min-width:$tablet) {
      align-self: center;
    }
  }
}

.media-contacts {
  position: relative;

  // .media-contacts__images

  &__images {
    display: grid;
  }

  // .media-contacts__block-image

  &__block-image {
    position: relative;

    &:first-child {}

    &:last-child {
      justify-self: end;
      transform: translate(7.095047%, -10.278746%);
    }
  }

  // .media-contacts__image

  &__image {
    max-width: 100%;
    outline: toRem(1) solid #9d875c;
    padding: toRem(10);
    filter: drop-shadow(10px 10px 10px rgba(60, 38, 12, 0.35));
  }


  // .media-contacts__play

  &__play {
    position: absolute;
    left: toRem(-17);
    top: 100%;
    transform: translate(0, -50%);
    @include adaptiveValue("width", 220, 100);
    @include adaptiveValue("height", 220, 100);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;

    @media (any-hover: hover) {
      &:hover {
        span {
          &::before {
            opacity: .8;
          }
        }
      }
    }

    &::after {
      content: "";
      border-radius: 50%;
      border: toRem(1) solid $bgGold;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      animation: play 2s infinite ease;
    }

    &::before {
      position: absolute;
      left: 50%;
      top: 50%;
      transition: transform .3s;
      transform: translate(-50%, -50%);
      @include adaptiveValue("font-size", 43, 22);
      z-index: 3;
    }

    span {
      border-radius: 50%;
      overflow: hidden;
      background-color: #fff;
      z-index: 2;
      width: 85%;
      height: 85%;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: opacity .3s;
        opacity: .5;
        background: url('@img/bg_button.jpg') center / cover no-repeat;

      }
    }

    @keyframes play {
      0% {
        transform: scale(0);
        opacity: 0;
      }

      50% {
        opacity: 1;
      }

      100% {
        transform: scale(1.5);
        opacity: 0;
      }
    }


  }
}

.contacts-items {
  display: grid;
  gap: toRem(30);

  //contacts-items__item

  &__item {
    line-height: 1.3;
    padding-left: toRem(35);
    position: relative;

    &::before {
      position: absolute;
      left: 0;
      top: toRem(4);
      color: $goldColor;
    }

    @media (max-width:$mobileSmall) {
      padding: toRem(35) 0 0 0;
    }

    li {
      @include adaptiveValue("font-size", 20, 16);

      &:not(:last-child) {
        margin-bottom: toEm(18, 20);
      }
    }

    a {
      transition: color .3s;

      @media (any-hover: hover) {
        &:hover {
          color: $goldColor;
        }
      }
    }
  }
}