.footer {
  position: relative;
  padding: toRem(0) toRem(0) toRem(0) toRem(0);
  background-color: $bgDark;
  color: $bgGold;

  &::before,
  &::after {
    content: "";
    position: absolute;
    height: 100%;
    width: toRem(174);
  }

  &::before {
    content: "";
    left: 0;
    bottom: 0;
    background: url('@img/footer__decor.svg') left bottom / 100% no-repeat;

  }

  &::after {
    content: "";
    right: 0;
    top: 0;
    transform: rotate(-180deg);
    background: url('@img/footer__decor.svg') left bottom / 100% no-repeat;

  }

  // .footer__container

  &__container {}

  // .footer__body

  &__body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    @include adaptiveValue("padding-top", 92, 40);
    @include adaptiveValue("padding-bottom", 45, 30);
  }

  // .footer__content

  &__content {
    border-right: toRem(1) solid $bgGold;
    @include adaptiveValue("padding-right", 40, 15);
  }

  // .footer__menu

  &__menu {
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 40, 20);
    }
  }

  // .footer__social

  &__social {}

  // .footer__logo

  &__logo {
    justify-self: center;
    @include adaptiveValue("width", 287, 80);
  }

  // .footer__subscribe

  &__subscribe {}

  // .footer__copy

  &__copy {
    @include adaptiveValue("padding-top", 42, 15);
    @include adaptiveValue("padding-bottom", 42, 15);
  }
}

.menu-footer {

  // .menu-footer__title

  &__title {
    font-size: toRem(20);
    font-family: "Italiana";
    text-transform: capitalize;
    list-style: none;

    &::marker,
    &::-webkit-details-marker {
      display: none;
    }

    &:not(:last-child) {
      margin-bottom: toRem(15);
    }
  }

  // .menu-footer__list

  &__list {
    display: flex;
    flex-wrap: wrap;
    row-gap: toRem(3);
    @include adaptiveValue("column-gap", 42, 15);
  }

  // .menu-footer__item

  &__item {}

  // .menu-footer__link

  &__link {
    font-weight: 300;
    line-height: 156%;
    display: inline-block;
    transition: color .3s;

    @media(any-hover:hover) {
      &:hover {
        color: $goldColorHover;
      }
    }
  }
}

.social {

  display: flex;
  flex-wrap: wrap;
  row-gap: toRem(3);
  @include adaptiveValue("column-gap", 41, 15);


  // .social__item

  &__item {
    font-size: toRem(24);
    transition: color .3s;

    @media(any-hover:hover) {
      &:hover {
        color: $goldColorHover;
      }
    }
  }
}

.subscribe {
  display: grid;
  justify-items: end;
  border-left: toRem(1) solid $bgGold;
  @include adaptiveValue("padding-left", 40, 15);

  // .subscribe__body

  &__body {
    max-width: toRem(350);
  }


  // .subscribe__title

  &__title {
    font-family: "Italiana";
    font-size: toRem(32);
    text-transform: capitalize;
    line-height: 120%;

    &:not(:last-child) {
      margin-bottom: toRem(25);
    }
  }

  // .subscribe__form

  &__form {
    display: flex;
    align-items: center;
    height: toRem(40);
    border-bottom: toRem(1) solid rgba(193, 170, 129, 0.2);
  }

  // .subscribe__input

  &__input {
    flex: 1 1 auto;
  }

  // .subscribe__button

  &__button {
    transition: color .3s;

    @media(any-hover:hover) {
      &:hover {
        color: $goldColorHover;
      }
    }
  }
}