.services {
  background-color: $bgDark;
  @include adaptiveValue("padding-top", 175, 30);
  @include adaptiveValue("padding-bottom", 175, 30);
  position: relative;

  &::before {
    content: "";
    background: url("@img/services/bg.svg") top right / 100% no-repeat;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  @media (min-width:$tablet) {
    &::after {
      content: "";
      background-color: $bgGold;
      position: absolute;
      width: 41.510417%;
      /* 797/1920 */
      height: 100%;
      top: 0;
      left: 0;
    }
  }



  // .services__container

  &__container {
    position: relative;
    display: flex;
    align-items: start;
    z-index: 2;

    @media (max-width:$tablet) {
      flex-direction: column-reverse;
      gap: toRem(30);
    }
  }

  // .services__image

  &__image {
    flex: 0 1 50%;
    padding: toRem(15);
    border: 1px solid #fff;
    margin: toRem(-15);

    img {
      max-width: 100%;
    }

    @media (max-width:$tablet) {
      align-self: center;
      margin: toRem(0);
    }

  }

  // .services__block-header

  &__block-header {
    flex: 0 1 50%;
    @include adaptiveValue("margin-left", 168, 30, 2, $containerWidth, 991.98);
    align-self: center;

    @media (min-width:$tablet) {
      max-width: toRem(460);
    }
  }
}